doctype html

head
  title Pug
  style
    include dashboard.css
  script(type='text/javascript').
    if (foo) bar(1 + 5)
body
  div(style={"height":"50px"})
  #table-wrapper
    span.text A
    span.text A
    span.text A
    #table-scroll
      table
        tbody
          tr
            td 1, 0
            td 2, 0
            td 3, 0
          tr
            td 1, 1
            td 2, 1
            td 3, 1
          tr
            td 1, 2
            td 2, 2
            td 3, 2
          tr
            td 1, 3
            td 2, 3
            td 3, 3
          tr
            td 1, 4
            td 2, 4
            td 3, 4
          tr
            td 1, 5
            td 2, 5
            td 3, 5
          tr
            td 1, 6
            td 2, 6
            td 3, 6
          tr
            td 1, 7
            td 2, 7
            td 3, 7
          tr
            td 1, 8
            td 2, 8
            td 3, 8
          tr
            td 1, 9
            td 2, 9
            td 3, 9
          tr
            td 1, 10
            td 2, 10
            td 3, 10
          tr
            td 1, 99
            td 2, 99
            td 3, 99
