body {
  margin: auto;
}

#table-wrapper {
  position: relative;
  max-width: 600px;
  margin: auto;
}
#table-scroll {
  height: 150px;
  overflow: auto;
  margin-top: 20px;
}
#table-wrapper table {
  width: 100%;
}
#table-wrapper table * {
  background: rgb(71, 190, 245);
  color: black;
}
#table-wrapper table thead * {
  background: rgb(64, 64, 255);
  color: black;
}
#table-wrapper table thead th .text {
  /*  position: absolute; */
  /* top: -20px;
  z-index: 2; */
  height: 20px;
  width: 80%;
  background: rgb(64, 64, 255);
  /* border: 1px solid red; */
}
span {
  display: inline-block;

  width: 33%;
  margin: 0.5px;
  text-align: center;
  background-color: rgb(64, 64, 255);
}
